<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categories</title>
    <link rel="stylesheet" href="/css/add.css" />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  </head>
  <body>
    <%- include('./admin/header')%>
    <div id="overlay"><span class="loader"></span></div>
    <div class="container">
      <div class="main" id="main">
        <div class="trash">
          <a class="btn btn-success" onclick="addCategory()">Add Category</a>
        </div>
        <br />
        <table id="myTable" class="display">
          <thead>
            <tr>
              <th>Id</th>
              <th>CategoryName</th>
              <th>CreatedAt</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="data"></tbody>
        </table>
      </div>
    </div>
  </body>
  <script>
    try {
      let response;
      $(document).ready(function () {
        $("#myTable").DataTable({
          lengthMenu: [
            [5, 10, 15, 20],
            [5, 10, 15, 20],
          ],
          language: {
            info: "Display _PAGE_ to _END_ of _TOTAL_ entries",
          },
          columnDefs: [
            {
              targets: [3],
              orderable: false,
            },
          ],
          paging: true,
          pagingType: "full_numbers",
          processing: true,
          serverSide: true,
          ajax: {
            url: "/category/categories",
            type: "get",
            // success: function (data) {
            //   console.log(data);
            // },
          },
          columns: [
            { data: "id" },
            { data: "categoryName" },
            { data: "createdAt" },
            { data: "action" },
          ],
        });
      });
    } catch (err) {
      console.log(err);
    }
    // async function categorydelete(categoryId) {
    //   const id = categoryId;
    //   const result = await fetch(`/category/  ` + id, {
    //     method: "DELETE",
    //   });
    //   const data = await result.json();
    // }
  </script>
  <script src="/js/index.js"></script>
  <script src="/js/category.js"></script>
</html>
