<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <link rel="stylesheet" href="/css/add.css" />
    <style>
      .hidden {
        display: none !important;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  </head>
  <body>
    <%- include('./admin/header')%>
    <div class="container-xxl">
      <div id="main">
        <div class="trash" style="margin-bottom: 20px">
          <a class="btn btn-success" onclick="addProduct()">Add Product</a>
          <!-- <a class="btn btn-primary" onclick="trashdata()">Trash Category</a> -->
        </div>
        <table id="myTable" class="display">
          <thead>
            <tr>
              <th>ID</th>
              <th>Product Name</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Image</th>
              <th>Category Name</th>
              <th>Sub-Category Name</th>
              <th>Product Details</th>
              <th>Created Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="data"></tbody>
        </table>
      </div>
      <!-- <div class="dialogue" style="margin-top: 30px; position: relative">
        <form
          action="/product/update"
          method="POST"
          enctype="multipart/form-data"
        >
          <input
            class="text"
            id="productid"
            type="hidden"
            name="productId"
            value=""
          />
          <input
            class="text"
            id="categoryid"
            type="hidden"
            name="oldCategoryId"
            value=""
          />
          <hr />
          <div class="tab">
            <div class="form-outline mb-4">
              <label class="form-label" for="categoryName">Category Name</label>
              <select
                class="form-select"
                id="categoryNames"
                name="categoryId"
                required
                onchange="subCategories()"
              >
                <% categories.forEach(d => { %>
                <option id="<%=d.id%>" value="<%=d.id%>">
                  <%=d.categoryName%>
                </option>
                <% }); %>
              </select>
              <script>
                async function subCategories() {
                  const id = document.querySelector("#categoryNames").value;
                  const result = await fetch("/product/subcategory/" + id);
                  const { categories } = await result.json();
                  let opt = "";
                  let subcategory = document.getElementById("subCategoryNames");
                  categories.forEach((d) => {
                    opt += `<option value='${d.id}'>${d.subCategoryName}</option>`;
                    subcategory.innerHTML = opt;
                  });
                }
              </script>
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="subCategoryName"
                >Sub-Category Name</label
              >
              <select
                class="form-select"
                id="subCategoryNames"
                name="subCategoryId"
                required
              ></select>
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="ProductsName">Product Name</label
              ><input
                type="text"
                id="productNames"
                name="productName"
                class="form-control form-control"
                value=""
                required
              />
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="quantity">Quantity</label
              ><input
                type="text"
                id="quantities"
                name="quantity"
                class="form-control form-control"
                value=""
                required
              />
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="image">Image</label
              ><input
                type="file"
                id="images"
                name="image"
                class="form-control form-control"
                value=""
                required
              />
              <p id="productImage"></p>
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="price">Price(Per Quantity)</label
              ><input
                type="text"
                id="prices"
                name="price"
                class="form-control form-control"
                value=""
                required
              />
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="productdetails"
                >Product Details</label
              >
              <textarea
                rows="3"
                id="productdetail"
                name="productdetails"
                class="form-control form-control"
                value=""
                required
              ></textarea>
            </div>
            <input type="submit" class="yes input" value="Update" />
            <botton class="no input">Cancel</botton>
          </div>
        </form>
      </div> -->
    </div>
  </body>
  <script>
    try {
      let response;
      $(document).ready(function () {
        $("#myTable").DataTable({
          lengthMenu: [
            [5, 10, 15, 20],
            [5, 10, 15, 20],
          ],
          language: {
            info: "Display _PAGE_ to _END_ of _TOTAL_ Entries",
          },
          columnDefs: [
            {
              targets: [4, 9],
              orderable: false,
            },
          ],
          paging: true,
          pagingType: "full_numbers",
          processing: true,
          serverSide: true,
          ajax: {
            url: "/product/products",
            type: "get",
            // success: function (data) {
            //   console.log(data);
            // },
          },
          columns: [
            { data: "id" },
            { data: "productName" },
            { data: "quantity" },
            { data: "price" },
            { data: "image" },
            { data: "categoryName" },
            { data: "subCategoryName" },
            { data: "productDetails" },
            { data: "createdAt" },
            { data: "action" },
          ],
        });
      });
    } catch (err) {
      console.log(err);
    }
  </script>
  <script src="/js/index.js"></script>
  <script src="/js/product.js"></script>
</html>
