<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sub-Categories</title>
    <link rel="stylesheet" href="/css/add.css" />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  </head>
  <body onload="token()">
    <%- include('./admin/header')%>
    <div id="overlay"><span class="loader"></span></div>
    <div class="container">
      <div class="trash">
        <a class="btn btn-success" onclick="addsubCategory()"
          >Add SubCategory</a
        >
        <!-- <a class="btn btn-primary" onclick="trashdata()">Trash Category</a> -->
      </div>
      <br />
      <table id="myTable" class="display">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>CategoryName</th>
            <th>CreatedDate</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="data"></tbody>
      </table>
    </div>
    <div class="dialogues">
      <form action="/subcategory" method="post">
        <p>Category Name</p>
        <select
          class="form-select"
          id="categoryName"
          name="categoryId"
          required
        ></select
        ><br />
        <p>SubCategory Name</p>
        <input
          class="text"
          id="text"
          type="text"
          name="subCategoryName"
          required
        />
        <br />
        <input type="submit" class="yes input" value="Add" />
        <botton class="no input">Cancel</botton>
      </form>
    </div>
    <div class="dialogue">
      <form action="/subcategory/update" method="POST">
        <p>Category Name</p>
        <input
          class="text"
          id="subcategoryid"
          type="hidden"
          name="id"
          value=""
        />
        <select
          class="form-select"
          id="subcategoryName"
          name="categoryId"
          required
        ></select
        ><br />
        <p>SubCategory Name</p>
        <input
          class="text"
          id="subCategoryName"
          type="text"
          name="subCategoryName"
          required
        />
        <br />
        <input type="submit" class="yes input" value="Update" />
        <botton class="no input">Cancel</botton>
      </form>
    </div>
  </body>
  <script>
    try {
      let response;
      $(document).ready(function () {
        $("#myTable").DataTable({
          lengthMenu: [
            [5, 10, 15, 20],
            [5, 10, 15, 20],
          ],
          language: {
            info: "Display _PAGE_ to _END_ of _TOTAL_ entries",
          },
          columnDefs: [
            {
              targets: [4],
              orderable: false,
            },
          ],
          paging: true,
          pagingType: "full_numbers",
          processing: true,
          serverSide: true,
          ajax: {
            url: "/subcategory/subcategories",
            type: "get",
            // success: function (data) {
            //   console.log(data);
            // },
          },
          columns: [
            { data: "id" },
            { data: "subCategoryName" },
            { data: "categoryName" },
            { data: "createdAt" },
            { data: "action" },
          ],
        });
      });
    } catch (err) {
      console.log(err);
    }
  </script>
  <script src="/js/index.js"></script>
  <script src="/js/subcategory.js"></script>
</html>
